{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile/style.css') }}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block body %}
    <section id="profile">

        <div id="profile-content">

            {#Links section#}
            <div id="profile-content-left">
                <p class="menu-btn active" data-target="user">Profil</p>
                <p class="menu-btn" data-target="relations">Relations</p>
                <p class="menu-btn" data-target="projects">Projets</p>
                <p class="menu-btn" data-target="stats">Statistiques</p>
            </div>

            {# ****************MENUS SECTION***************** #}

            {#User content#}
            <div class="menu-info" id="content-user" data-id="{{ app.user.id }}" >

                    {% set pp_path = 'users/' ~ app.user.getPpPath() %}
                    {% if app.user.getPpPath() is null %}
                        {% set pp_path = 'unknown.png' %}
                    {% endif %}
                    <img data-value="pp" src="{{ asset("img/profile/#{pp_path}") }}" alt="#">
                    <h1 data-value="username" id="menu-info-username">{{ app.user.username }}</h1>
                    <h2 data-value="email">{{ app.user.email }}</h2>
                    <h2>Date de création: {{ app.user.createdAt | date("d/m/Y à H:i") }}</h2>
                    <button id="user-update-btn" class="popup-btn" data-target="user-update">Modifier</button>

                    {#User Popup#}
                    <div class="popup-content" data-popup="user-update" data-class="user-popup" data-loader="false">

                        <h2>Modification du profil</h2>
                        <div class="user-popup-block">
                            <div class="upload">
                                <img id="update-user-file-visual" src="{{ asset("img/profile/#{pp_path}") }}" width = 100 height = 100 alt="">
                                <div class="round">
                                    <input id="update-user-file" type="file" data-file_type="image">
                                    <i class = "fa fa-camera" style = "color: #fff;"></i>
                                </div>
                            </div>

                            <div class="user-popup-input">
                                <i class="fas fa-user"></i>
                                <input type="text" name="user_username" placeholder="Identifiant" value="{{ app.user.username }}">
                            </div>

                            <div class="user-popup-input">
                                <i class="fas fa-envelope"></i>
                                <input type="text" name="user_email" placeholder="Email" value="{{ app.user.email }}">
                            </div>

                            {#ADVANCED BUTTON#}
                            <p class="advanced-properties" data-active="false" data-target="user-popup-password-change"><i class="fas fa-caret-right"></i> Modifier le mot de passe</p>

                            {#ADVANCED CONTENT#}
                            <div class="advanced-content" id="user-popup-password-change">

                                <div class="user-popup-input">
                                    <i class="fas fa-lock"></i>
                                    <input type="text" name="user_old_password" placeholder="Ancien mot de passe">
                                </div>

                                <div class="flex-wrap">
                                    <div class="user-popup-input">
                                        <i class="fas fa-lock"></i>
                                        <input type="text" name="user_new_password" placeholder="Nouveau mot de passe">
                                    </div>

                                    <div class="user-popup-input">
                                        <i class="fas fa-lock"></i>
                                        <input type="text" name="user_new_password" placeholder="Confirmer le mot de passe">
                                    </div>
                                </div>

                            </div>

                            <div class="user-popup-textarea">
                                <i class="fas fa-align-justify"></i>
                                <textarea name="user_description" placeholder="Décrivez-vous"></textarea>
                            </div>

                            {#ADVANCED BUTTON#}
                            <p class="advanced-properties" data-active="false" data-target="user-popup-advanced"><i class="fas fa-caret-right"></i> Paramètres avancés</p>

                            {#ADVANCED CONTENT#}
                            <div class="advanced-content" id="user-popup-advanced">

                                <div class="user-popup-advanced-input">
                                    <h3>Type de compte</h3>
                                    <div>
                                        <input type="radio" id="visitor-account" name="account-type" value=0 checked>
                                        <label for="visitor-account">Visiteur</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="professional-account" name="account-type" value=1>
                                        <label for="professional-account">Professionnel</label>
                                    </div>
                                </div>

                                <div id="account-type-0" class="type-selector-content"></div>

                                {#PROFESSIONAL ACCOUNT FIELDS#}
                                <div id="account-type-1" class="type-selector-content">

                                    <h3>Liste des compétences</h3>
                                    <div id="professional-content-skills">
                                        <ul id="professional-content-skills-list">
                                            {% for i in 0..30 %}
                                                <li class="professional-content-skill-list">Compétence {{ i }}</li>
                                            {% endfor %}
                                        </ul>
                                        <ul id="professional-content-skills-owned"></ul>
                                    </div>

                                </div>

                            </div>

                            <button class="ajax-btn" data-method="updateUser">Confirmer</button>
                        </div>
                    </div>

            </div>

            {#Relations content#}
            <div class="menu-info" id="content-relations">
                <div id="relations-icons">
                    <i class="fas fa-user-friends popup-btn" data-target="relation-list" data-method="getFriends"></i>
                    <i class="fas fa-user-clock popup-btn" data-target="relation-requests" data-method="getFriendRequests">
                        <div id="relation-requests-count">
                            <div></div>
                        </div>
                    </i>
                    <i class="fas fa-user-plus popup-btn" data-target="relation-add" data-method="getUnfriendUsers"></i>
                </div>

                <div id="relations-img-list"></div>

                <div id="relations-conversations">

                    <h2>Conversations Récentes <span id="relations-conversations-block-count"></span> :</h2>

                    <ul id="relations-conversations-block">
                        <li class="model">
                            %img%
                            <p>%content%</p>
                            <i class="fas fa-paper-plane popup-btn ajax-btn" data-target="conversation" data-method="getConversation" data-target_id="%id%"></i>
                        </li>
                    </ul>
                </div>

                {#Relations Popups#}

                    {#Relations List#}
                <div class="popup-content" data-popup="relation-list" data-class="relation-popup" data-loader="true">
                    <h2>Liste des relations <span class="relation-popup-list-list-count"></span></h2>
                    <input class="ajax-search" type="text" placeholder="Rechercher">
                    <div class="relation-popup-list relation-popup-list-block">
                        <ul class="relation-popup-list relation-popup-list-list">
                            <li class="model">
                                %img%
                                <div>
                                    <h3>%username%</h3>
                                    <p>Amis depuis le %accepted_at%</p>
                                </div>
                                <button class="popup-btn ajax-btn" data-target="conversation" data-method="getConversation" data-target_id="%target_id%">Converser</button>
                                <button class="ajax-btn" data-method="removeFriend" data-target_id="%target_id%">Supprimer</button>
                            </li>
                        </ul>
                    </div>
                </div>

                    {#Relation Requests#}
                <div class="popup-content" data-popup="relation-requests" data-class="relation-popup" data-loader="true">
                    <h2>Requêtes reçues <span class="relation-popup-list-requests-count"></span></h2>
                    <br><br><br>
                    <div class="relation-popup-list-block">
                        <ul class="relation-popup-list relation-popup-list-requests">
                            <li class="model">
                                %img%
                                <div>
                                    <h3>%username%</h3>
                                    <p>Envoyée le %requested_at%</p>
                                </div>
                                <button class="ajax-btn" data-method="addFriend" data-target_id="%id%">Accepter</button>
                                <button class="ajax-btn" data-method="removeFriend" data-target_id="%id%">Refuser</button>
                            </li>
                        </ul>
                    </div>
                </div>

                    {#Relation Add#}
                <div class="popup-content" data-popup="relation-add" data-class="relation-popup" data-loader="true">
                    <h2>Ajouter un ami <span class="relation-popup-list-add-count"></span></h2>
                    <input class="ajax-search" type="text" placeholder="Rechercher">
                    <div class="relation-popup-list-block">
                        <ul class="relation-popup-list relation-popup-list-add">
                            <li class="model">
                                %img%
                                <div class="unique-btn">
                                    <h3>%username%</h3>
                                    <p>Depuis le %created_at%</p>
                                </div>
                                <button class="ajax-btn" data-method="addFriend" data-target_id="%id%">Ajouter</button>
                            </li>
                        </ul>
                    </div>
                </div>

                    {#Relation Conversation#}
                <div class="popup-content" data-popup="conversation" data-class="relation-popup" data-loader="true">
                    <h2>Conversation avec <span class="relation-popup-conversation-target"></span></h2>
                    <div class="relation-popup-conversation-block" data-loading="true"></div>
                    <div class="relation-popup-conversation-send-block">
                        <textarea id="send-message-msg" placeholder="Écrivez votre message"></textarea>
                        <button id="send-message-btn" class="ajax-btn" data-method="sendMessage" data-target_id="0">Envoyer</button>
                    </div>
                </div>

            </div>

            {#Projects content#}
            <div class="menu-info" id="content-projects">
                <div id="projects-icons">
                    <i class="fas fa-list popup-btn" data-target="project-list" data-method="getProjects"></i>
                    <i class="fas fa-clock popup-btn" data-target="project-requests" data-method="getProjectRequests">
                        <div id="project-requests-count">
                            <div></div>
                        </div>
                    </i>
                    <i class="fas fa-plus-square popup-btn" data-target="project-create"></i>
                </div>

                <div id="projects-recents">

                    <h2>Projets Récents <span id="projects-block-count"></span> :</h2>

                    <ul class="projects-recents-list-list">
                        <li class="model">
                            %img%
                            <div>
                                <h3>%title%</h3>
                                <p>%contributors% contributeurs</p>
                                <p>crée le %created_at%</p>
                            </div>
                            <i class="fas fa-eye popup-btn ajax-btn" data-target="project-preview" data-method="getProject" data-project_id="%id%"></i>
                        </li>
                    </ul>
                </div>
            </div>

            {#Projects Popups#}

                {#Projects List#}
            <div class="popup-content" data-popup="project-list" data-class="project-popup" data-loader="false">
                <h2>Liste de vos projets <span class="project-popup-list-list-count"></span></h2>
                <input class="ajax-search" type="text" placeholder="Rechercher">
                <div class="project-popup-list-block">
                    <ul class="project-popup-list-list">
                        <li class="project-popup-list-model model">
                            %img%
                            <div>
                                <h3>%title%</h3>
                                <p>%contributors% contributeur(s)</p>
                                <p>crée le %created_at%</p>
                            </div>
                            <i class="fas fa-eye popup-btn ajax-btn" data-target="project-preview" data-method="getProject" data-project_id="%id%"></i>
                        </li>
                    </ul>
                </div>
            </div>

                {#Projects Requests#}
            <div class="popup-content" data-popup="project-requests" data-class="project-popup" data-loader="false">
                <h2>Requêtes reçues <span class="project-popup-list-requests-count"></span></h2>
                <div class="project-popup-list-block">
                    <ul class="project-popup-list-requests">
                        <li class="project-popup-list-model model">
                            %img%
                            <div>
                                <h3>%title%</h3>
                                <p>crée le %created_at%</p>
                            </div>
                            <button id="send-message-btn" class="ajax-btn" data-method="addContributor" data-target_id="%id%">Accepter</button>
                        </li>
                    </ul>
                </div>
            </div>

                {#Projects Create#}
            <div class="popup-content" data-popup="project-create" data-class="project-popup" data-loader="false">
                <h2>Créer un projet <span class="project-popup-list-create-count"></span></h2>
                <div class="project-popup-block">
                    <div class="upload">
                        <img id="create-project-file-visual" src="{{ asset("img/profile/unknown_project.png") }}" width = 100 height = 100 alt="">
                        <div class="round">
                            <input id="create-project-file" type="file" data-file_type="image">
                            <i class = "fa fa-camera" style = "color: #fff;"></i>
                        </div>
                    </div>

                    <div class="project-popup-input">
                        <i class="fas fa-pen"></i>
                        <input id="create-project-title" type="text" placeholder="Nom du projet">
                    </div>

                    <div class="project-popup-textarea">
                        <i class="fas fa-align-justify"></i>
                        <textarea id="create-project-description" placeholder="Décrivez votre projet"></textarea>
                    </div>

                    <button class="ajax-btn" data-method="createProject">Créer</button>
                </div>
            </div>

                {#Project Preview#}
            <div class="popup-content" data-popup="project-preview" data-class="project-popup project-popup-preview" data-loader="true">
                <h2>Projet '<span data-value="title"></span>'</h2>
                <div class="project-popup-preview-block">
                    <img data-value="image" src="{{ asset("img/profile/unknown_project.png") }}" alt="#">
                    <p data-value="description"></p>
                    <p data-value="owner.username"></p>

                    {#ADVANCED BUTTON#}
                    <p class="advanced-properties" data-active="false" data-target="project-popup-preview-members"><i class="fas fa-caret-right"></i> Gestion des contributeurs</p>

                    {#ADVANCED CONTENT#}
                    <div class="advanced-content" id="project-popup-preview-members">

                        <div id="project-popup-preview-members-add">
                            <h3>Ajouter des contributeurs</h3>
                            <div data-value="$getFriends">

                            </div>
                        </div>

                        <div id="project-popup-preview-members-manage">
                            <h3>Liste des contributeurs</h3>
                            <ul data-value="contributors|list">

                            </ul>
                        </div>

                    </div>

                    <a data-param="project/%project_id%|href" href="">Voir le projet</a>
                </div>
            </div>

            {#Stats content#}
            <div class="menu-info" id="content-stats">
                <div id="content-stats-values">
                    <div class="gold">
                        <div>
                            {{ stats.glories }} <br> Gloire(s)
                        </div>
                    </div>
                    <div class="aqua">
                        <div>
                            {{ stats.projects }} <br> Projet(s)
                        </div>
                    </div>
                    <div class="red">
                        <div>
                            64 <br> Posts
                        </div>
                    </div>
                    <div class="mat_gold">
                        <div>
                            {{ stats.weeks }} semaine(s) <br> d'ancienneté
                        </div>
                    </div>
                    <div class="mat_aqua">
                        <div>
                            132 <br> Visites profil
                        </div>
                    </div>
                    <div class="mat_red">
                        <div>
                            214 <br> Commentaires
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/links.js") }}"></script>
    <script src="{{ asset("js/ajax.js") }}"></script>
    <script src="{{ asset("js/profile/profile.js") }}"></script>
{% endblock %}
