{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile/style.css') }}">
{% endblock %}

{% block title %}Profile{% endblock %}

{% block body %}
    <section id="profile">

        <div id="profile-content">

            {#Links section#}
            <div id="profile-content-left">
                <p class="profile-btn active" data-target="user">Profil</p>
                <p class="profile-btn" data-target="relations">Relations</p>
                <p class="profile-btn" data-target="projects">Projets</p>
                <p class="profile-btn" data-target="stats">Statistiques</p>
            </div>

            {# ****************MENUS SECTION***************** #}

            {#User content#}
            <div class="menu-info" id="content-user" data-id="{{ app.user.id }}" >

                <div>
                    {% set pp_path = 'users/' ~ app.user.getPpPath() %}
                    {% if app.user.getPpPath() is null %}
                        {% set pp_path = 'unknown.png' %}
                    {% endif %}
                    <img data-value="pp" src="{{ asset("img/profile/#{pp_path}") }}" alt="#">
                    <h1 data-value="username" id="menu-info-username">{{ app.user.username }}</h1>
                    <h2 data-value="email">{{ app.user.email }}</h2>
                    <h2>Date de création: {{ app.user.createdAt | date("d/m/Y à H:i") }}</h2>
                    <button id="user-update-btn" class="popup-btn" data-target="user-update">Modifier</button>

                    {#User Popup#}
                    <div class="popup-content" data-popup="user-update" data-class="user-popup" data-loader="false">
                        <input id="profile-image-input" type="file">

                        <button class="ajax-btn" data-method="updateUser" data-file="#profile-image-input">Confirmer</button>
                    </div>
                </div>

            </div>

            {#Relations content#}
            <div class="menu-info" id="content-relations">
                <div id="relations-icons">
                    <i class="fas fa-user-friends popup-btn" data-target="relation-list" data-method="getFriends"></i>
                    <i class="fas fa-user-clock popup-btn" data-target="relation-requests" data-method="getFriendRequests">
                        <div id="relation-requests-count">
                            <div></div>
                        </div>
                    </i>
                    <i class="fas fa-user-plus popup-btn" data-target="relation-add" data-method="getUnfriendUsers"></i>
                </div>

                <div id="relations-img-list"></div>

                <div id="relations-conversations">

                    <h2>Conversations Récentes <span id="relations-conversations-block-count"></span> :</h2>

                    <ul id="relations-conversations-block">
                        <li class="model">
                            %img%
                            <p>%content%</p>
                            <i class="fas fa-paper-plane popup-btn ajax-btn" data-target="conversation" data-method="getConversation" data-target_id="%id%"></i>
                        </li>
                    </ul>
                </div>

                {#Relations Popups#}

                    {#Relations List#}
                <div class="popup-content" data-popup="relation-list" data-class="relation-popup" data-loader="true">
                    <h2>Liste des relations <span class="relation-popup-list-list-count"></span></h2>
                    <input type="text" placeholder="Rechercher">
                    <div class="relation-popup-list relation-popup-list-block">
                        <ul class="relation-popup-list relation-popup-list-list">
                            <li class="model">
                                %img%
                                <div>
                                    <h3>%username%</h3>
                                    <p>Amis depuis le %accepted_at%</p>
                                </div>
                                <button class="popup-btn ajax-btn" data-target="conversation" data-method="getConversation" data-target_id="%id%">Converser</button>
                                <button class="ajax-btn" data-method="removeFriend" data-target_id="%id%">Supprimer</button>
                            </li>
                        </ul>
                    </div>
                </div>

                    {#Relation Requests#}
                <div class="popup-content" data-popup="relation-requests" data-class="relation-popup" data-loader="true">
                    <h2>Requêtes reçues <span class="relation-popup-list-requests-count"></span></h2>
                    <input type="text" placeholder="Rechercher">
                    <div class="relation-popup-list-block">
                        <ul class="relation-popup-list relation-popup-list-requests">
                            <li class="model">
                                %img%
                                <div>
                                    <h3>%username%</h3>
                                    <p>Envoyée le %requested_at%</p>
                                </div>
                                <button class="ajax-btn" data-method="addFriend" data-target_id="%id%">Accepter</button>
                                <button class="ajax-btn" data-method="removeFriend" data-target_id="%id%">Refuser</button>
                            </li>
                        </ul>
                    </div>
                </div>

                    {#Relation Add#}
                <div class="popup-content" data-popup="relation-add" data-class="relation-popup" data-loader="true">
                    <h2>Ajouter un ami <span class="relation-popup-list-add-count"></span></h2>
                    <input type="text" placeholder="Rechercher">
                    <div class="relation-popup-list-block">
                        <ul class="relation-popup-list relation-popup-list-add">
                            <li class="model">
                                %img%
                                <div class="unique-btn">
                                    <h3>%username%</h3>
                                    <p>Depuis le %created_at%</p>
                                </div>
                                <button class="ajax-btn" data-method="addFriend" data-target_id="%id%">Ajouter</button>
                            </li>
                        </ul>
                    </div>
                </div>

                    {#Relation Conversation#}
                <div class="popup-content" data-popup="conversation" data-class="relation-popup" data-loader="true">
                    <h2>Conversation avec <span class="relation-popup-conversation-target"></span></h2>
                    <div class="relation-popup-conversation-block" data-loading="true"></div>
                    <div class="relation-popup-conversation-send-block">
                        <textarea placeholder="Écrivez votre message"></textarea>
                        <button id="send-message-btn" class="ajax-btn" data-method="sendMessage" data-target_id="0">Envoyer</button>
                    </div>
                </div>

            </div>

            {#Projects content#}
            <div class="menu-info" id="content-projects">
                <div id="projects-icons">
                    <i class="fas fa-list popup-btn" data-target="project-list" data-method="getProjects"></i>
                    <i class="fas fa-clock popup-btn" data-target="project-requests" data-method="getProjectRequests">
                        <div id="project-requests-count">
                            <div></div>
                        </div>
                    </i>
                    <i class="fas fa-plus-square popup-btn" data-target="project-create"></i>
                </div>

                <div id="projects-recents">

                    <h2>Projets Récents <span id="projects-block-count"></span> :</h2>

                    <ul id="projects-recents-block model">
                        <li class="projects-recent">
                            %img%
                            <div>
                                <h3>%title%</h3>
                                <p>%contributors% contributeurs</p>
                                <p>crée le %created_at%</p>
                            </div>
                            <i class="fas fa-eye popup-btn ajax-btn" data-target="project" data-method="getProject" data-project_id="%id%"></i>
                        </li>
                    </ul>
                </div>
            </div>

            {#Projects Popups#}

                {#Projects List#}
            <div class="popup-content" data-popup="project-list" data-class="project-popup" data-loader="false">
                <h2>Liste des projets <span class="project-popup-list-list-count"></span></h2>
            </div>

                {#Projects Requests#}
            <div class="popup-content" data-popup="project-requests" data-class="project-popup" data-loader="false">
                <h2>Requêtes reçues <span class="project-popup-list-requests-count"></span></h2>
            </div>

                {#Projects Create#}
            <div class="popup-content" data-popup="project-create" data-class="project-popup" data-loader="false">
                <h2>Créer un projet <span class="project-popup-list-create-count"></span></h2>
            </div>

            {#Stats content#}
            <div class="menu-info" id="content-stats">
                <div id="content-stats-values">
                    <div class="gold">
                        <div>
                            47 <br> Gloires
                        </div>
                    </div>
                    <div class="aqua">
                        <div>
                            14 <br> Projets
                        </div>
                    </div>
                    <div class="red">
                        <div>
                            64 <br> Posts
                        </div>
                    </div>
                    <div class="mat_gold">
                        <div>
                            24 semaines <br> d'ancienneté
                        </div>
                    </div>
                    <div class="mat_aqua">
                        <div>
                            132 <br> Visites profil
                        </div>
                    </div>
                    <div class="mat_red">
                        <div>
                            214 <br> Commentaires
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/profile/links.js") }}"></script>
    <script src="{{ asset("js/profile/ajax.js") }}"></script>
{% endblock %}
