{% block stylesheets %}
    <!-- Code Mirror -->
    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/codemirror.css') }}">

    <!-- Addons -->
    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/addons/dialog.css') }}">

    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/addons/show-hint.css') }}">

    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/addons/fullscreen.css') }}">

    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/themes/abcdef.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/themes/dracula.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/themes/material-darker.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/themes/base16-dark.css') }}">

    <link rel="stylesheet" href="{{ asset('css/plugins/codemirror/addons/foldgutter.css') }}">

{% endblock %}

<!-- Circle Buttons -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Modification des templates</h6>
    </div>
    <div class="card-body">

        <div class="arbo-block">

            <a href="#" data-toggle="collapse" data-target="#collapse-folder-templates">
                <i class="fas fa-fw fa-folder"></i> Templates
            </a>
            <div id="collapse-folder-templates" class="collapse">

                {% include 'admin/includes/sections/template/template.html.twig' with {'childs' : templates} only %}

            </div>

            <hr>

            <p>Fichier sélectionné:
                <span id="arbo-current-file" class="arbo-file" data-path="null"><i class="fas fa-file"></i> Aucun</span>
            </p>

            <div id="template-editor-block">

                <p class="float-right">
                    Type d'éditeur:

                    <select id="template-editor-type"></select>
                </p>

                <!-- DEVELOPER EDITOR -->
                <div id="template-editor-block-developer" class="template-editor-type" data-type="0">

                    <div id="template-editor-block-loader">
                        <img src="{{ asset('img/gif/loader.gif') }}" alt="#">
                    </div>

                    <p>
                        Thème:
                        <select id=template-editor-theme>
                            <option>dracula</option>
                            <option>abcdef</option>
                            <option>material-darker</option>
                            <option>base16-dark</option>
                        </select>
                    </p>

                    <textarea id="template-editor-textarea"></textarea>
                </div>

                <!-- DEVELOPER EDITOR -->
                <div id="template-editor-block-commercial" class="template-editor-type" data-type="1"></div>

                <div id="template-validate-btn-block">
                    <button class="btn btn-warning h-10" data-toggle="modal" data-target="#resetFileModal">
                        Réinitialiser
                    </button>
                    <button class="btn btn-success h-10" data-toggle="modal" data-target="#updateFileModal">
                        Modifier
                    </button>
                </div>

            </div>

            <!-- MODAL COMMERCIAL EDITOR -->
            <div class="modal fade" id="template-editor-block-commercial-popup" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modification de la balise <span class="modal-title-baliseName"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button id="commercial-editor-update-btn" type="button" class="btn btn-primary" data-dismiss="modal">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>