{% extends 'base_admin.html.twig' %}

{% block title %}Panel Admin - {{ page_name }}{% endblock %}


{% block body %}
    {% include 'admin/includes/topbar.html.twig' %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ page_name }}</h1>
        </div>

        {% include 'admin/includes/sections/' ~ page_name ~ '.html.twig' %}

    </div>
    <!-- /.container-fluid -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/ajax.js") }}"></script>

    {% if page_name is same as('templates') %}
        <!-- Code Mirror -->
        <script src="{{ asset("js/plugins/codemirror/codemirror.js") }}"></script>

        <!-- Addons -->
        <script src="{{ asset("js/plugins/codemirror/addons/xml.js") }}"></script>

        <script src="{{ asset("js/plugins/codemirror/addons/hint/show-hint.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/hint/javascript-hint.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/javascript.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/markdown.js") }}"></script>

        <script src="{{ asset("js/plugins/codemirror/addons/hint/html-hint.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/hint/xml-hint.js") }}"></script>

        <script src="{{ asset("js/plugins/codemirror/addons/search/search.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/search/searchcursor.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/dialog.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/jump-to-line.js") }}"></script>

        <script src="{{ asset("js/plugins/codemirror/addons/fullscreen.js") }}"></script>

        <script src="{{ asset("js/plugins/codemirror/addons/folding/foldcode.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/folding/foldgutter.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/folding/brace-fold.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/folding/xml-fold.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/folding/indent-fold.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/folding/markdown-fold.js") }}"></script>
        <script src="{{ asset("js/plugins/codemirror/addons/folding/comment-fold.js") }}"></script>
    {% endif %}

    <script src="{{ asset("js/admin/admin.js") }}"></script>
{% endblock %}