<header>

    <div id="header-unminified">
        <section class="header-top">

            <div class="header-top-logo">
                <img src="{{ asset('img/logo.png') }}" alt="#">
                <div class="header-top-logo-desc">
                    <p>{{ getField('slogan') }}</p>
                    <h1>{{ getField('title') }}</h1>
                    <hr>
                </div>
            </div>

        </section>

        <section class="header-bot">
            <div class="header-bot-nav">
                <div class="header-bot-nav-circle"></div>
                <nav class="header-bot-nav-links">
                    {% for route in getRoutes() %}
                        <a {% if app.request.get('_route')|lower  == route.path %}class="underlined"{% endif %} href="{{ path(route.path) }}">{{ route.name }}</a>
                    {% endfor %}
                </nav>
            </div>
        </section>
    </div>

    <div id="header-minified">
        {% for route in getRoutes() %}
            <a {% if app.request.get('_route')|lower  == route.path %}class="underlined"{% endif %} href="{{ path(route.path) }}">{{ route.name }}</a>
        {% endfor %}
        <div class="header-logo">
            <img src="{{ asset('img/logo.png') }}" alt="#">
        </div>
    </div>

</header>