<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site Officiel du Forum Fordev, pour développeurs tous langages de programmation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('img/logo.png') }}">

    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/dc883addae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('scss/main.css') }}">
</head>
<body>

<header>

    <section class="header-top">

        <div class="header-top-logo">
            <img src="{{ asset('img/logo.png') }}" alt="#">
            <div class="header-top-logo-desc">
                <p>For me, For you,</p>
                <h1>FOR DEV</h1>
                <hr>
            </div>
        </div>

    </section>

    <section class="header-bot">
        <div class="header-bot-nav">
            <div class="header-bot-nav-circle"></div>
            <nav class="header-bot-nav-links">
                <a {% if app.request.get('_route')|lower  == 'home' %}class="underlined"{% endif %} href="{{ path("home") }}">Accueil</a>
                <a href="">Forum</a>
                <a href="">Services</a>
                <a href="">Aide</a>

            </nav>
        </div>
    </section>

</header>

<main>
    <div id="overlay"></div>
    <div id="popup" data-has_value=false>
        <div class="popup-message success">
            <p id="popup-message-content"></p>
        </div>
        <i class="fas fa-times popup-btn" id="popup-close"></i>
        <div id="popup-loader">
            <img src="{{ asset('img/gif/loader.gif') }}" alt="#">
        </div>
    </div>
    <div id="popup-notification">
        <div class="success-checkmark popup-notification-anim" data-type="success">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>

        <div class="error-checkmark popup-notification-anim" data-type="error">
            <div class="check-icon">
                <span class="icon-line line-tip"></span>
                <span class="icon-line line-long"></span>
                <div class="icon-circle"></div>
                <div class="icon-fix"></div>
            </div>
        </div>

        <p id="popup-notification-msg"></p>
    </div>

    {% block body %}{% endblock %}
</main>

<ul id="right-menu">
    {#USER MENU#}
    <li>
        <i data-path="{{ path('auth') }}" data-target="account" class="link fas fa-user right-menu-icon"></i>
        {% if app.user %}
        <div class="right-menu-popup" id="right-menu-popup-account">
            <div id="right-menu-popup-account-informations">
                {% set pp_path = 'users/' ~ app.user.getPpPath() %}
                {% if app.user.getPpPath() is null %}
                    {% set pp_path = 'unknown.png' %}
                {% endif %}
                <img data-value="pp" src="{{ asset("img/profile/#{pp_path}") }}" alt="#">
                <div>
                    <h3>{{ app.user.username }}</h3>
                    <p>{{ app.user.createdAt|date('d/m/Y') }}</p>
                </div>
            </div>
            <div id="right-menu-popup-account-icons">
                <i data-path="{{ path('security_logout') }}" class="link fas fa-sign-out-alt"></i>
                <i class="fas fa-bell"></i>
            </div>
            <div class="right-menu-popup-account-stat yellow">
                <div>
                    47 <br> Gloires
                </div>
            </div>
            <div class="right-menu-popup-account-stat blue">
                <div>
                    14 <br> Projets
                </div>
            </div>
            <div class="right-menu-popup-account-stat red">
                <div>
                    64 <br> Posts
                </div>
            </div>
        </div>
        {% endif %}
    </li>
    {#SEARCH MENU#}
    <li>
        <i data-target="search" class="fas fa-search right-menu-icon"></i>
        <div class="right-menu-popup" id="right-menu-popup-search">
            <h3>Rechercher sur le Forum</h3>
            <div>
                <input type="text" placeholder="Recherche à effectuer...">
                <div>
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>
        </div>
    </li>
    {#SETTINGS MENU#}
    <li>
        <i data-target="settings" class="fas fa-cog right-menu-icon"></i>
        <div class="right-menu-popup" id="right-menu-popup-settings">

        </div>
    </li>
</ul>

<footer class="footer">
    <div class="container">
        <div class="footer__social">
            <div class="wrapper">
                <div class="icon facebook">
                    <div class="tooltip">Facebook</div>
                    <span><i class="fab fa-facebook-f"></i></span>
                </div>
                <div class="icon twitter">
                    <div class="tooltip">Twitter</div>
                    <span><i class="fab fa-twitter"></i></span>
                </div>
                <div class="icon instagram">
                    <div class="tooltip">Instagram</div>
                    <span><i class="fab fa-instagram"></i></span>
                </div>
                <div class="icon github">
                    <div class="tooltip">Github</div>
                    <span><i class="fab fa-github"></i></span>
                </div>
                <div class="icon youtube">
                    <div class="tooltip">Youtube</div>
                    <span><i class="fab fa-youtube"></i></span>
                </div>
            </div>
        </div>

        <div class="footer__links col1">
            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>
        </div>

        <div class="footer__links col2">
            <a href="#">Careers</a>
            <a href="#">Support</a>
            <a href="#">Privacy Policy</a>
        </div>

        <div class="footer__copyright">
            &copy; Sev7n2507. All Rights Reserved.
        </div>
    </div>
    <div class="attribution">
        Challenge by
        <a href="https://profcitron.fr/" target="_blank">Alexis Sensei</a>.
        Coded by
        <a href="https://github.com/Sev7n2507" target="_blank">Seven2507</a>.
    </div>
</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset("js/popups.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
