<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site Officiel du Forum Fordev, pour développeurs tous langages de programmation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('img/logo.png') }}">

    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/dfa31f22c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('scss/main.css') }}">
</head>

<body>

{% include 'includes/header.html.twig' %}

<main>

    <!-- POPUP NEEDS -->
    {% include 'includes/popups.html.twig' %}


        <p id="popup-notification-msg"></p>

    {% block body %}{% endblock %}
</main>

{% include 'includes/right-menu.html.twig' %}

{% include 'includes/footer.html.twig' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ asset('js/menu.js') }}"></script>
<script src="{{ asset("js/popups.js") }}"></script>
<script src="{{ asset("js/main.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
