<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Site Officiel du Forum Fordev, pour développeurs tous langages de programmation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ asset('img/logo.png') }}">

    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/dc883addae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/includes/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<header>

    <section class="header-top">

        <div class="header-top-logo">
            <img src="{{ asset('img/logo.png') }}" alt="#">
            <div class="header-top-logo-desc">
                <p>For me, For you,</p>
                <h1>FOR DEV</h1>
                <hr>
            </div>
        </div>

    </section>

    <section class="header-bot">
        <div class="header-bot-nav">
            <div class="header-bot-nav-circle"></div>
            <nav class="header-bot-nav-links">
                <a {% if app.request.get('_route')|lower  == 'home' %}class="underlined"{% endif %} href="{{ path("home") }}">Accueil</a>
                <a href="">Forum</a>
                <a href="">Services</a>
                <a href="">Aide</a>
            </nav>
        </div>
    </section>

</header>

<main>{% block body %}{% endblock %}</main>

<ul id="right-menu">
    {#USER MENU#}
    <li>
        <i data-path="{{ path('auth') }}" data-target="account" class="link fas fa-user right-menu-icon"></i>
        {% if app.user %}
        <div class="right-menu-popup" id="right-menu-popup-account">
            <div id="right-menu-popup-account-informations">
                <img src="{{ asset('img/profile/unknown.png') }}" alt="">
                <div>
                    <h3>{{ app.user.username }}</h3>
                    <p>{{ app.user.createdAt|date('d/m/Y') }}</p>
                </div>
            </div>
            <div id="right-menu-popup-account-icons">
                <i data-path="{{ path('security_logout') }}" class="link fas fa-sign-out-alt"></i>
                <i class="fas fa-bell"></i>
            </div>
            <div class="right-menu-popup-account-stat yellow">
                <div>
                    47 <br> Gloires
                </div>
            </div>
            <div class="right-menu-popup-account-stat blue">
                <div>
                    14 <br> Projets
                </div>
            </div>
            <div class="right-menu-popup-account-stat red">
                <div>
                    64 <br> Posts
                </div>
            </div>
        </div>
        {% endif %}
    </li>
    {#SEARCH MENU#}
    <li>
        <i data-target="search" class="fas fa-search right-menu-icon"></i>
        <div class="right-menu-popup" id="right-menu-popup-search">
            <h3>Rechercher sur le Forum</h3>
            <div>
                <input type="text" placeholder="Recherche à effectuer...">
                <div>
                    <i class="fas fa-paper-plane"></i>
                </div>
            </div>
        </div>
    </li>
    {#SETTINGS MENU#}
    <li>
        <i data-target="settings" class="fas fa-cog right-menu-icon"></i>
        <div class="right-menu-popup" id="right-menu-popup-settings">

        </div>
    </li>
</ul>

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="links">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Aide</a></li>
                    </ul>
                </div>
                <div class="about">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">CGU</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="presentation item text">
                    <h3>Fordev</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>

            <p class="copyright">Fordev © 2021</p>
        </div>
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ asset('js/menu.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
