{% extends 'base.html.twig' %}


{% block title %}Authentification{% endblock %}

{% block body %}

    <div id="auth">

        {#LOGIN SECTION#}
        <section class="auth-block" id="log-in">
            <img src="{{ asset('img/logo.png') }}" alt="#">
            <h2>FOR DEV</h2>

            <form action="{{ path('auth') }}" class="auth-block-form" method="post">

                <div class="auth-block-form-input">
                    <i class="fas fa-user"></i>
                    <input type="text" name="user_login" placeholder="Identifiant ou Email"
                           value="{% if app.request.cookies.get("user_login") is not null %}{{ app.request.cookies.get("user_login") }}{% endif %}">
                </div>
                {% if errors['login'] is defined and errors['type'] == 'login' %}
                    {% for msg in errors['login'] %}
                        <p class="error_msg">*{{ msg }}</p>
                    {% endfor %}
                {% endif %}

                <div class="auth-block-form-input">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="user_password" placeholder="Mot de passe">
                    <div class="password-icons">
                        <i data-feather="eye"></i>
                        <i data-feather="eye-off"></i>
                    </div>
                </div>
                {% if errors['password'] is defined and errors['type'] == 'login' %}
                    {% for msg in errors['password'] %}
                        <p class="error_msg">*{{ msg }}</p>
                    {% endfor %}
                {% endif %}

                <div class="auth-block-form-remember">
                    <label class="container">Se souvenir de moi
                        <input type="checkbox" value=true {% if app.request.cookies.get("user_login") is not null %}checked{% endif %}>
                        <span class="checkmark"></span>
                    </label>
                </div>

                <!--FORGET PASSWORD-->
                <p id="auth-block-forget">Mot de passe oublié ? <span id="forget-pass">Cliquez-ici</span></p>
                <div id="forget-content">

                    <div id="forget-content-msg">
                        <i class="fas fa-info"></i> Merci de saisir votre email afin de vous envoyer un mail pour modifier votre mot de passe.
                    </div>

                    <div class="auth-block-form-input">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="forget_email" placeholder="Email">
                    </div>

                </div>

                <button type="submit" name="login_submit">Connexion</button>

            </form>

            <p id="auth-block-type">Pas encore membre ? <span class="auth-toggle" data-change="1">Créer un compte</span></p>
        </section>

        {#SIGNIN SECTION#}
        <section class="auth-block" id="sign-in">
            <img src="{{ asset('img/logo.png') }}" alt="#">
            <h2>FOR DEV</h2>

            <form action="{{ path('auth') }}" class="auth-block-form" method="post">

                <input type="hidden" name="project_id" value="{% if params['p'] is defined %}{{ params['p'] }}{% endif %}">

                <div class="flex">
                    <div>
                        <div class="auth-block-form-input">
                            <i class="fas fa-user"></i>
                            <input type="text" name="user_username" placeholder="Identifiant"
                                   value="{% if app.request.request.get('user_username') is not null %}{{ app.request.request.get('user_username') }}{% elseif params['username'] is defined %}{{ params['username'] }}{% endif %}">
                        </div>
                        {% if errors['username'] is defined and errors['type'] == 'register' %}
                            {% for msg in errors['username'] %}
                                <p class="error_msg">*{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        <div class="auth-block-form-input">
                            <i class="fas fa-envelope"></i>
                            <input type="email" name="user_email" placeholder="Email"
                                   value="{% if app.request.request.get('user_email') is not null %}{{ app.request.request.get('user_email') }}{% elseif params['email'] is defined %}{{ params['email'] }}{% endif %}">
                        </div>
                        {% if errors['email'] is defined and errors['type'] == 'register' %}
                            {% for msg in errors['email'] %}
                                <p class="error_msg">*{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <div class="auth-block-form-input">
                            <i class="fas fa-user"></i>
                            <input type="text" name="user_name" placeholder="Prénom"
                                   value="{% if app.request.request.get('user_name') is not null %}{{ app.request.request.get('user_name') }}{% elseif params['name'] is defined %}{{ params['name'] }}{% endif %}">
                        </div>
                        {% if errors['name'] is defined and errors['type'] == 'register' %}
                            {% for msg in errors['name'] %}
                                <p class="error_msg">*{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        <div class="auth-block-form-input">
                            <i class="fas fa-user"></i>
                            <input type="text" name="user_surname" placeholder="Nom"
                                   value="{% if app.request.request.get('user_surname') is not null %}{{ app.request.request.get('user_surname') }}{% elseif params['surname'] is defined %}{{ params['surname'] }}{% endif %}">
                        </div>
                        {% if errors['surname'] is defined and errors['type'] == 'register' %}
                            {% for msg in errors['surname'] %}
                                <p class="error_msg">*{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="flex">
                    <div>
                        <div class="auth-block-form-input">
                            <i class="fas fa-lock"></i>
                            <input id="auth-input-new-pass" type="password" name="user_password" placeholder="Mot de passe">
                            <div class="password-icons">
                                <i data-target="auth-input-new-pass" class="password-security-icon wrong" data-feather="x-circle"></i>
                                <i data-target="auth-input-new-pass" class="password-security-icon success" data-feather="check-circle"></i>

                                <i data-feather="eye"></i>
                                <i data-feather="eye-off"></i>
                            </div>

                            <div id="password-security-popup">
                                <p><i data-feather="alert-triangle"></i>Votre mot de passe :</p>
                                <ul id="password-security-popup-list"></ul>
                            </div>
                        </div>
                        {% if errors['password'] is defined and errors['type'] == 'register' %}
                            {% for msg in errors['password'] %}
                                <p class="error_msg">*{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        <div class="auth-block-form-input">
                            <i class="fas fa-lock"></i>
                            <input id="auth-input-confirm-pass" type="password" name="user_confirm_password" placeholder="Confirmation de mot de passe">
                            <div class="password-icons">
                                <i data-target="auth-input-confirm-pass" class="password-security-icon wrong" data-feather="x-circle"></i>
                                <i data-target="auth-input-confirm-pass" class="password-security-icon success" data-feather="check-circle"></i>

                                <i data-feather="eye"></i>
                                <i data-feather="eye-off"></i>
                            </div>

                            <div id="password-confirm-popup">
                                <p><i data-feather="alert-triangle"></i>Les mots de passent doivent correspondre</p>
                            </div>
                        </div>
                        {% if errors['confirm_password'] is defined and errors['type'] == 'register' %}
                            {% for msg in errors['confirm_password'] %}
                                <p class="error_msg">*{{ msg }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div id="register-cgu-popup">
                    <i class="fas fa-exclamation-circle"></i>
                    <p>En vous inscrivant vous acceptez les <a href="">Conditions générales d'Utilisation</a> de {{ getField('Title') }}</p>
                    <hr>
                    <button id="register-cgu-popup-btn-close" class="register-cgu-popup-btn">Annuler</button>
                    <button class="register-cgu-popup-btn" type="submit" name="register_submit">Accepter</button>
                </div>

                <button id="register-cgu-popup-btn-open">S'inscrire</button>

            </form>

            <p id="auth-block-type">Déjà membre ? <span class="auth-toggle" data-change="0">Se connecter</span></p>
        </section>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="{{ asset("js/auth/auth.js") }}"></script>
{% endblock %}
