{% extends 'base.html.twig' %}


{% block title %}Projet{% endblock %}

{% block body %}

    <section id="project">

        {#HEADER#}
        <div id="project-header">

            <div id="project-header-content">

                {% set img_path = 'projects/' ~ project.getImgPath() %}
                {% if project.getImgPath() is null %}
                    {% set img_path = 'unknown_project.png' %}
                {% endif %}
                <img data-value="image" src="{{ asset("img/profile/#{img_path}") }}" alt="#">
                <div>
                    <h1 data-value="title">{{ project.title }}</h1>
                    <p>Créé le {{ project.getCreatedAt() | date("m/d/Y à H:i") }}</p>
                </div>
                
            </div>

            <p data-value="description">{{ project.description }}</p>

            <div id="project-header-owner">
                {% set owner_pp_path = 'users/' ~ project.owner.getPpPath() %}
                {% if project.owner.getPpPath() is null %}
                    {% set owner_pp_path = 'unknown.png' %}
                {% endif %}
                <div id="project-header-owner-img">
                    <i class="fas fa-crown"></i>
                    <img src="{{ asset("img/profile/#{owner_pp_path}") }}" alt="#">
                </div>
                <div id="project-header-owner-infos">
                    <h3>{{ project.owner.username }}</h3>
                    <p>Depuis le {{ project.owner.getCreatedAt() | date("m/d/Y à H:i") }}</p>
                </div>
            </div>
            <i class="fas fa-cog" aria-hidden="true"></i>

        </div>

        {#CONTENT#}
        <div id="project-block" data-id="{{ project.id }}">
            <ul id="project-block-menu">
                <li class="menu-btn" data-target="informations">Informations</li>
                <li class="menu-btn" data-target="contributors">Contributeurs</li>
                <li class="menu-btn" data-target="roles">Rôles</li>
                <li class="menu-btn" data-target="tools">Outils</li>
            </ul>

            {#INFORMATIONS#}
            <div class="menu-info" id="content-informations">

                informations

            </div>

            {#CONTRIBUTORS#}
            <div class="menu-info" id="content-contributors">

                <h2>Gestion des contributeurs</h2>

                <div class="content-project-block">

                    <i class="fas fa-plus-square popup-btn" data-target="contributor-add"></i>

                    <input type="text" placeholder="Rechercher">

                    <ul id="content-contributors-list">

                        <li class="model">
                            %img%
                            <div>
                                <h3>%username%</h3>
                                <p>Depuis le %accepted_at%</p>
                            </div>
                            <select data-method="updateContributor" data-target_id="%id%" data-field_name="role_id">
                                %select.roles{id,name}?role_id%
                            </select>
                            <button class="ajax-btn" data-method="removeContributor" data-target_id="%id%">Exclure</button>
                        </li>

                    </ul>

                </div>

                {#Contributors Popups#}

                {#Contributor Add#}
                <div class="popup-content" data-popup="contributor-add" data-class="project-popup" data-loader="false">
                    <h2>Ajouter un contributeur</h2>

                    <div class="contributor-add-radios">
                        <h3>Type d'invitation</h3>
                        <div>
                            <input type="radio" id="has-account" name="invitation-type" value=0 checked>
                            <label for="has-account">Possède un compte</label>
                        </div>
                        <div>
                            <input type="radio" id="hasNo-account" name="invitation-type" value=1>
                            <label for="hasNo-account">Ne possède pas de compte</label>
                        </div>
                    </div>

                    {#HAS ACCOUNT#}
                    <div id="invitation-type-0">

                        {#ADVANCED BUTTON#}
                        <p class="advanced-properties" data-active="false" data-target="contributor-add-filter"><i class="fas fa-caret-right"></i> Filtrer la liste</p>
                        <input class="ajax-search contributor-add-search" type="text" placeholder="Rechercher">

                        {#ADVANCED CONTENT#}
                        <div class="advanced-content" id="contributor-add-filter">
                            <select class="ajax-filter" data-target=".contributor-add-list-list">
                                <option value="getFriends">Liste de relations</option>
                                <option value="getUnfriendUsers">Liste non en relation</option>
                                <option value="getPublicUsers">Tous les utilisateurs (publics)</option>
                            </select>
                        </div>

                        <div class="contributor-add-list-block">
                            <ul class="contributor-add-list-list" data-filter="getFriends">
                                <li class="model">
                                    %img%
                                    <div class="unique-btn">
                                        <h3>%username%</h3>
                                        <p>Depuis le %created_at%</p>
                                    </div>
                                    <button class="ajax-btn" data-method="addContributor" data-target_id="%target_id%">Inviter</button>
                                </li>
                            </ul>
                        </div>

                    </div>

                    {#HAS NO ACCOUNT#}
                    <div id="invitation-type-1" class="type-selector-content">
                        <div class="flex">
                            <div class="contributor-add-new-input">
                                <i class="fas fa-user"></i>
                                <input class="contributor-add-new-name" type="text" name="user_login" placeholder="Prénom" value="">
                            </div>
                            <div class="contributor-add-new-input">
                                <i class="fas fa-user"></i>
                                <input class="contributor-add-new-surname" type="text" name="user_login" placeholder="Nom" value="">
                            </div>
                        </div>
                        <div class="flex">
                            <div class="contributor-add-new-input">
                                <i class="fas fa-envelope"></i>
                                <input class="contributor-add-new-email" type="text" name="user_login" placeholder="Email" value="">
                            </div>
                            <select class="update-share-btn contributor-add-new-select" data-target="contributor-add-share">
                                <option value=null>---Type de partage---</option>
                                <option value="email">Par email</option>
                                <option value="own_means">Par vos propres moyens</option>
                            </select>
                        </div>

                        <button class="share-btn" id="contributor-add-share" data-form="contributor-add-new">Inviter</button>
                    </div>

                </div>

            </div>

            {#ROLES#}
            <div class="menu-info" id="content-roles">

                <h2>Gestion des rôles <span id="content-roles-list-count"></span></h2>

                <div class="content-project-create">
                    <input id="create-role-name" class="content-project-create-name" type="text" placeholder="Nom du nouveau rôle">
                    <input id="create-role-color" class="content-project-create-color" type="color">
                    <button class="ajax-btn" data-method="createRole" data-project_id="{{ project.id }}">Créer</button>
                </div>

                <div class="content-project-block">

                    <input type="text" placeholder="Rechercher">

                    <ul id="content-roles-list">

                        <li class="model">
                            <h3 style="color: %color%">%name%</h3>
                            <button class="popup-btn" data-method="getPermissions" data-role_id="%id%">Permissions</button>
                            <button class="ajax-btn" data-method="removeRole" data-role_id="%id%">Supprimer</button>
                        </li>

                    </ul>

                </div>

            </div>

            {#TOOLS#}
            <div class="menu-info" id="content-tools">

                tools

            </div>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/links.js") }}"></script>
    <script src="{{ asset("js/ajax.js") }}"></script>
    <script src="{{ asset("js/project/project.js") }}"></script>
{% endblock %}